process {
    withName: 'SAMTOOLS_STATS' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/stats" },
                mode: "copy",
                pattern: "*",
                saveAs: { meta.step == "bam_markduplicates" ? it : null }
            ]
        ]                  
    }
}