process {
    withName: 'GATK4_MERGEVCFS_GENOTYPEGVCFS' {
        ext.args         = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/gvcf" },
                mode: "copy",
                pattern: "*"
            ]
        ]                     
    }
    withName: 'GATK4_MERGEVCFS_VQSR' {
        ext.args         = ''
        ext.prefix       = { "${meta.id}.vqsr" }
        publishDir       = [
            [
                path: { "${params.out_dir}/vcf" },
                mode: "copy",
                pattern: "*"
            ]
        ]                     
    }
}