process {
    withName: 'HMFTOOLS_LINX_SOMATIC' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/somatic/gridss/${meta.id}/linx" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'HMFTOOLS_LINX_TUMORONLY' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/tumoronly/gridss/${meta.id}/linx" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'HMFTOOLS_LINX_GERMLINE' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss/${meta.id}/linx" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        