process {
    withName: 'HMFTOOLS_LINX' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/linx/${meta.id}" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        