process {
    withName: 'GATK4_FILTERMUTECTCALLS' {
        ext.args         = ''
        publishDir       = [
                path: { "${params.out_dir}/vcf/${meta.calling_type}/${meta.short_variant_caller}" },
                mode: "copy",
                pattern: "*.filt_mutect2.vcf.gz*"           
        ]                     
    }
}