process {
    publishDir       = [
        [
            path: { "${params.out_dir}/cnv/controlfreec/" },
            mode: "copy",
            pattern: "*"
        ]
    ]
    withName: 'FREEC_GERMLINE' {
        ext.args = {[
                "sample":[
                    inputformat: 'pileup',
                    mateorientation: 'FR'
                ],
                "general" :[
                    bedgraphoutput: "TRUE",
                    breakpointthreshold: "",
                    breakpointtype: "",
                    coefficientofvariation: "",
                    contamination: "",
                    contaminationadjustment: "",
                    forcegccontentnormalization: "",
                    minimalsubclonepresence: "",
                    noisydata: "",
                    ploidy: "${params.bam_germline_copy_number_discovery_controlfreec.ploidy}",
                    printNA: "",
                    readcountthreshold: "",
                    window: "1000"
                    ],
                "BAF":[
                    minimalcoverageperposition: "",
                    minimalqualityperposition: "",
                    //"shiftinquality": (optional)not set
                ]
            ]
        }
    }

    withName: 'FREEC_SOMATIC' {
        ext.args = {[
                "sample":[
                    inputformat: 'pileup',
                    mateorientation: 'FR'
                ],
                "control":[
                    inputformat: "pileup",
                    mateorientation: "FR"
                ],
                "general" :[
                    bedgraphoutput: "TRUE",
                    breakpointthreshold: "0.8",
                    breakpointtype: "2",
                    coefficientofvariation: "",
                    contamination: "",
                    contaminationadjustment: "",
                    forcegccontentnormalization: "0",
                    minimalsubclonepresence: "20",
                    noisydata: "FALSE",
                    ploidy: "2",
                    printNA: "TRUE",
                    readcountthreshold: "10",
                    window: "1000"
                    ],
                "BAF":[
                    minimalcoverageperposition: "",
                    minimalqualityperposition: "",
                    //"shiftinquality": (optional)not set
                ]
            ]
        }
    }
}