process {    
    withName: 'FREEC_GERMLINE' {
        publishDir       = [
            [
                path: { "${params.out_dir}/cnv/controlfreec/germline/${meta.id}" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
     withName: 'FREEC_TUMORONLY' {
        publishDir       = [
            [
                path: { "${params.out_dir}/cnv/controlfreec/tumoronly/${meta.id}" },
                mode: "copy",
                pattern: "*"
            ]
        ]  
    }

    withName: 'FREEC_SOMATIC' {
        publishDir       = [
            [
                path: { "${params.out_dir}/cnv/controlfreec/somatic/${meta.id}" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}