process {
    withName: 'GATK4_VARIANTRECALIBRATOR_INDEL' {        
        ext.args         = { "-an QD -an MQ -an MQRankSum -an ReadPosRankSum -an FS -an SOR -mode INDEL" }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                
    }
    withName: 'GATK4_VARIANTRECALIBRATOR_SNP' {        
        ext.args         = { "-an QD -an MQ -an MQRankSum -an ReadPosRankSum -an FS -an SOR -mode SNP" }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                
    }
}