process {
    withName: 'PICARD_CROSSCHECKFINGERPRINTS' {
        ext.prefix = { "${meta.id}.picard_crosscheckfingerprints" }
        ext.args         = { "--CROSSCHECK_BY SAMPLE --EXIT_CODE_WHEN_MISMATCH 0 --EXPECT_ALL_GROUPS_TO_MATCH true" }
        publishDir       = [
            [
                path: { "${params.out_dir}/fingerprint" },
                mode: "copy",
                pattern: "*"
            ]
        ]                     
    }
}