process {
    withName: 'PICARD_CROSSCHECKFINGERPRINTS' {
        ext.args         = ''
        ext.prefix       = 'picard_crosscheckfingerprints'
        publishDir       = [
            [
                path: { "${params.out_dir}/fingerprint" },
                mode: "copy",
                pattern: "*"
            ]
        ]                     
    }
}