process {
    withName: 'FINGERPRINT_HEATMAP' {
        ext.prefix = { "${meta.id}.fingerprint_heatmap" }
        ext.args         = {  }
        publishDir       = [
            [
                path: { "${params.out_dir}/fingerprint" },
                mode: "copy",
                pattern: "*_fingerprintheatmap.pdf"
            ]
        ]                     
    }
}