process {
    withName: 'GATK4_CALCULATECONTAMINATION' {
        ext.args         = { "-tumor-segmentation ${meta.id}.mutect2.segmentation.table" }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                     
    }
}