process {
    withName: 'HMFTOOLS_LINX_SVVISUALISER' {
        ext.args = '-ref_genome_version 38'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/linx/${meta.id}" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        