process {
    withName: 'TABIX_SMURF.*' {
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            path: { "${params.out_dir}/vcf/germline/somatic_filtering/SMuRF/" },
            mode: "copy",
            pattern: "*.tbi"
        ]                     
    }
} 

