process {
    withName: 'TABIX_SMURF.*' {
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            path: { "${params.out_dir}/vcf/germline/somatic_filtering/SMuRF/" },
            mode: "copy",
            pattern: "*.tbi"
        ]                     
    }
    withName: 'VEP_TABIX_TABIX' {
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            path: { "${params.out_dir}/vcf/${meta.calling_type}/${meta.short_variant_caller}" },
            mode: "copy",
            pattern: "*.tbi"
        ]                     
    }
} 

