process {
    withName: 'GATK4_GENOMICSDBIMPORT' {
        ext.args         = { "--genomicsdb-shared-posixfs-optimizations true --bypass-feature-reader " }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                     
    }
}