process {
    withName: 'GATK4_APPLYVQSR_INDEL' {        
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                
    }
    withName: 'GATK4_APPLYVQSR_SNP' {        
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                
    }
}