process {
    withName: 'GATK4_APPLYVQSR_INDEL' {        
        ext.args         = { "--truth-sensitivity-filter-level 99.9 -mode INDEL" }
        ext.prefix       = { "${meta.id}.vqsr.indel" }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                
    }
    withName: 'GATK4_APPLYVQSR_SNP' {        
        ext.args         = { "--truth-sensitivity-filter-level 99.9 -mode SNP" }
        ext.prefix       = { "${meta.id}.vqsr.snp" }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                
    }
}