process {
    publishDir           = [
        mode: "copy",
        path: { "${params.out_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        time = '10m'
        memory = '1G'
        ext.args         = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/versions/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}