process {
    publishDir           = [
        mode: "copy",
        path: { "${params.out_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: 'FASTQC' {
        time = '2h'
        memory = '8G'
        ext.args         = '--quiet'
        publishDir       = [
            [
                path: { "${params.out_dir}/reports/fastqc/${meta.id}" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}