process {
    withName: 'SNPSIFT_SPLIT' {
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
	        enabled: false 
        ]                     
    }
    withName: 'SNPSIFT_JOIN_SMURF.*' {
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false 
        ]                     
    }
}