process {
    withName: 'SNPSIFT_SPLIT' {
        ext.args         = { "-l 1000" }
        ext.prefix       = { }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
	        enabled: false 
        ]                     
    }
    withName: 'SNPSIFT_JOIN_SMURF.*' {
        ext.args         = { }
        ext.prefix       = { }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            path: { "${params.out_dir}/vcf/germline/somatic_filtering/SMuRF/" },
            mode: "copy",
            pattern: "*"
        ]                     
    }
}