process {
    withName: 'SAMTOOLS_INDEX' {
        ext.args = '' 
        publishDir       = [
            [
                path: { "${params.out_dir}/bams" },
                mode: "copy",
                pattern: "*.bai",
                saveAs: { meta.id.contains("dedup") ? it : null }
            ]
        ]  
    }
}