process {
    withName: 'SAMTOOLS_FLAGSTAT' {
        publishDir       = [
            [
                path: { "${params.out_dir}/stats" },
                mode: "copy",
                pattern: "*",
                saveAs: { meta.step == "bam_markduplicates" ? it : null }
            ]
        ]                 
    }
}