process {
    withName: 'SNPEFF_SNPEFF' {
        ext.args = '-hgvs -lof -no-downstream -no-upstream -no-intergenic'
        publishDir       = [
            [
                path: { "${params.out_dir}/vcf/${meta.calling_type}/${meta.caller}" },
                mode: "copy",
                pattern: "*"                
            ]
        ]         
    }
} 

