process {
    withName: 'ENSEMBLVEP_VEP' {
        publishDir       = [
            [
                path: { "${params.out_dir}/vcf/${meta.calling_type}/${meta.short_variant_caller}" },
                mode: "copy",
                pattern: "*"                
            ]
        ]         
    }
} 

