process {
    withName: 'GRIDSS_SOMATIC' {
        ext.args = '--maxcoverage 200'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/somatic/gridss" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'GRIDSS_TUMORONLY' {
        ext.args = '--maxcoverage 200'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/tumoronly/gridss" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }

    withName: 'GRIDSS_GERMLINE' {
        ext.args = '--maxcoverage 200'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        