process {
//    withName: 'GRIDSS_SOMATIC' {
//        publishDir       = [
//            [
//                path: { "${params.out_dir}/sv/somatic/gridss" },
//                mode: "copy",
//                pattern: "*"
//            ]
//        ]
//    }
//    withName: 'GRIDSS_TUMORONLY' {
//        publishDir       = [
//            [
//                path: { "${params.out_dir}/sv/tumoronly/gridss" },
//                mode: "copy",
//                pattern: "*"
//            ]
//        ]
//    }

    withName: 'GRIDSS_GERMLINE' {
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        