params {
    max_memory                 = '800.GB'
    max_cpus                   = 16
    max_time                   = '360.h'
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'disk') {
        try {
            if (obj.compareTo(params.max_disk as nextflow.util.MemoryUnit) == 1)
                return params.max_disk as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max disk '${params.max_disk}' is not valid! Using default value: $obj"
            return obj
        }
    }

}

process {
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 10.GB * task.attempt, 'memory' ) }
    time   = { check_max( 1.h  * task.attempt, 'time'   ) }
    shell  = ['/bin/bash', '-euo', 'pipefail']

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 9 + (50001..50006)) ? 'retry' : 'finish' }
    maxRetries    = 10
    maxErrors     = '-1'
    backoff = 2.0
    delay = '1 min'

    // Process-specific resource requirements

    withLabel:process_single {
        cpus          = { check_max( 1                  , 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 6.GB  * task.attempt ) : 6.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) }
    }
    withLabel:process_low {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2     * task.attempt ) : 2, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 12.GB * task.attempt ) : 12.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) }
    }
    withLabel:process_medium {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 6     * task.attempt ) : 6, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 36.GB * task.attempt ) : 36.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
    }
    withLabel:process_high {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 12    * task.attempt ) : 12, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 72.GB * task.attempt ) : 72.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 16.h  * task.attempt ) : 16.h, 'time'    ) }
    }
    withLabel:process_long {
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 20.h  * task.attempt ) : 20.h, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 200.GB * task.attempt ) : 200.GB, 'memory' ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        memory =  { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 50.GB * task.attempt ) : 50.GB, 'memory' ) }
    }
    withName: 'BWAMEM2_INDEX' {
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2.h  * task.attempt ) : 2.h, 'time'    ) }
        memory =  { check_max( 90.GB * task.attempt, 'memory' ) }
    }
    withName: 'BWAMEM2_MEM' {
        disk = 100.GB
    }
    withName: 'SAMTOOLS_SORT' {
        disk = 150.GB
    }
    withName: 'SAMTOOLS_MERGE' {
        disk = 60.GB
    }
    withName: 'GATK4_MARKDUPLICATES_SPARK' {
        disk = 200.GB
    }    
    withName: 'SAMTOOLS_MPILEUP' {
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 12.h  * task.attempt ) : 12.h, 'time'    ) }
        disk = 250.GB
    }
    withName: 'FREEC_GERMLINE' {
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2.h  * task.attempt ) : 2.h, 'time'    ) }
        memory =  { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 80.GB * task.attempt ) : 80.GB, 'memory' ) }
        cpus = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 6     * task.attempt ) : 6, 'cpus'    ) }
    }
    withName: 'GRIDSS_GERMLINE' {
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 24.h  * task.attempt ) : 24.h, 'time'    ) }
        memory =  { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 200.GB * task.attempt ) : 200.GB, 'memory' ) }
        cpus = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 10     * task.attempt ) : 10, 'cpus'    ) }
        disk = 100.GB
    }
    withName: 'GATK4_MUTECT2' {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 6     * task.attempt ) : 6, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 36.GB * task.attempt ) : 36.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'GATK4_LEARNREADORIENTATIONMODEL' {
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2.h  * task.attempt ) : 2.h, 'time'    ) }
        memory =  { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 20.GB * task.attempt ) : 20.GB, 'memory' ) } 
        cpus = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8     * task.attempt ) : 8, 'cpus'    ) } 
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'BCFTOOLS_SMURF_SORT' {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 6     * task.attempt ) : 6, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 36.GB * task.attempt ) : 36.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'BCFTOOLS_SMURF_FILTERED_SORT' {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 6     * task.attempt ) : 6, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 36.GB * task.attempt ) : 36.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'REALIGNREADS' {
        cpus          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2     * task.attempt ) : 2, 'cpus'    ) }
        memory        = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 12.GB * task.attempt ) : 12.GB, 'memory'  ) }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }

}
    