params {
    max_memory                 = '800.GB'
    max_cpus                   = 16
    max_time                   = '360.h'
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'disk') {
        try {
            if (obj.compareTo(params.max_disk as nextflow.util.MemoryUnit) == 1)
                return params.max_disk as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max disk '${params.max_disk}' is not valid! Using default value: $obj"
            return obj
        }
    }

}

process {
    // Define the increments of all resources 
    def cpu_list            = [ 1,      2,      2,      4,      8,      16,     32,     64,     128 ]
    def mem_list            = [ 2.GB,   8.GB,   16.GB,  32.GB,  64.GB,  128.GB, 256.GB, 512.GB, 1024.GB ]
    def mem_buff_list       = [ 0.5.GB, 1.GB,   1.5.GB, 2.GB,   2.GB,   2.GB,   2.GB,   2.GB,   2.GB ]


    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 9 + (50001..50006)) ? 'retry' : 'finish' }
    maxRetries    = 10
    maxErrors     = '-1'
    backoff = 2.0
    delay = '1 min'


    // Default resources 
    shell  = ['/bin/bash', '-euo', 'pipefail']
    cpus   = { 
        def idx = Math.min(task.attempt - 1, cpu_list.size() - 1)
        check_max( cpu_list[idx], 'cpus' ) 
    }
    memory = { 
        def idx = Math.min(task.attempt - 1, memory_list.size() - 1)
        def allocated_memory = memory_list[idx] - buffer_list[idx]
        check_max( allocated_memory, 'memory' ) 
    }
    time   = { check_max( 1.h  * task.attempt, 'time'   ) }
    

    // Process-specific resource requirements
    withLabel:process_single {
        cpus   = { 
            def idx = Math.min(task.attempt - 1, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) }
    }

    withLabel:process_low {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 1, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 1, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) }
    }

    withLabel:process_medium {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 4, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 4, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 8.h, 'time'    ) }
    }

    withLabel:process_high {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 5, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 5, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 16.h, 'time'    ) } 
    }

    withLabel:process_long {
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 20.h  * task.attempt ) : 20.h, 'time'    ) }
    }

    withLabel:process_high_memory {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 6, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 6, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) } 
    }

    // Custom jobs
    withName: 'GATK4_HAPLOTYPECALLER' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 5, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 5, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
    }
    withName: 'BWAMEM2_INDEX' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 5, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 5, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2.h  * task.attempt ) : 2.h, 'time'    ) }
    }
    withName: 'BWAMEM2_MEM' {
        disk = 100.GB
    }
    withName: 'SAMTOOLS_SORT' {
        disk = 150.GB
    }
    withName: 'SAMTOOLS_MERGE' {
        disk = 60.GB
    }
    withName: 'GATK4_MARKDUPLICATES_SPARK' {
        disk = 200.GB
    }    
    withName: 'GATK4_GENOMICSDBIMPORT' {
	    scratch = true
    }
    withName: 'SAMTOOLS_MPILEUP' {
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 12.h  * task.attempt ) : 12.h, 'time'    ) }
        disk = 250.GB
    }
    withName: 'FREEC_GERMLINE' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 5, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 5, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2.h  * task.attempt ) : 2.h, 'time'    ) }
    }
    withName: 'GRIDSS_GERMLINE' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 6, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 6, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 24.h  * task.attempt ) : 24.h, 'time'    ) }
        disk = 100.GB
    }
    withName: 'GATK4_MUTECT2' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 4, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 4, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'GATK4_LEARNREADORIENTATIONMODEL' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 4, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 4, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 2.h  * task.attempt ) : 2.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'BCFTOOLS_SMURF_SORT' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 4, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 4, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'BCFTOOLS_SMURF_FILTERED_SORT' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 4, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 4, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 8.h   * task.attempt ) : 8.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withName: 'REALIGNREADS' {
        cpus   = { 
            def idx = Math.min(task.attempt - 1 + 3, cpu_list.size() - 1)
            check_max( cpu_list[idx], 'cpus' ) 
        }
        memory = { 
            def idx = Math.min(task.attempt - 1 + 3, memory_list.size() - 1)
            def allocated_memory = memory_list[idx] - buffer_list[idx]
            check_max( allocated_memory, 'memory' ) 
        }
        time          = { check_max( task.exitStatus in [137, 139, 140, 143] ? ( 4.h   * task.attempt ) : 4.h, 'time'    ) }
        clusterOptions = "--gres=tmpspace:100G"
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
    