// Modules configs

// Local

// fingerprintheatmap
includeConfig "${projectDir}/configs/modules/local/fingerprint/heatmap/conf.config"

// SMuRF
includeConfig "${projectDir}/configs/modules/local/SMuRF/conf.config"

// GRIDSS
includeConfig "${projectDir}/configs/modules/local/gridss/gridss/conf.config"
includeConfig "${projectDir}/configs/modules/local/gridss/annotateinsertedsequence/conf.config"

// HMFTOOLS
includeConfig "${projectDir}/configs/modules/local/hmftools/gripss/conf.config"
includeConfig "${projectDir}/configs/modules/local/hmftools/amber/conf.config"
includeConfig "${projectDir}/configs/modules/local/hmftools/cobalt/conf.config"
includeConfig "${projectDir}/configs/modules/local/hmftools/purple/conf.config"
includeConfig "${projectDir}/configs/modules/local/hmftools/linx/linx/conf.config"
includeConfig "${projectDir}/configs/modules/local/hmftools/linx/svvisualiser/conf.config"

// ControlFREEC
includeConfig "${projectDir}/configs/modules/local/controlfreec/makebafplot/conf.config"
includeConfig "${projectDir}/configs/modules/local/controlfreec/makekaryotype/conf.config"

// TELOMERECAT
includeConfig "${projectDir}/configs/modules/local/telomerecat/bam2length/conf.config"

// TELSEQ
includeConfig "${projectDir}/configs/modules/local/telseq/conf.config"

// NF-CORE

// BCFTOOLS
includeConfig "${projectDir}/configs/modules/nf-core/bcftools/sort/conf.config"

// BWA
includeConfig "${projectDir}/configs/modules/nf-core/bwa/index/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/bwa/mem/conf.config"

// BWAMEM2
includeConfig "${projectDir}/configs/modules/nf-core/bwamem2/index/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/bwamem2/mem/conf.config"

// ControlFREEC
includeConfig "${projectDir}/configs/modules/nf-core/controlfreec/freec/conf.config"

// Custom
includeConfig "${projectDir}/configs/modules/nf-core/custom/dumpsoftwareversions/conf.config"

// FastQC
includeConfig "${projectDir}/configs/modules/nf-core/fastqc/conf.config"

// GATK 
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/applybqsr/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/applyvqsr/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/baserecalibrator/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/calculatecontamination/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/combinegvcfs/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/filtermutectcalls/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/genomicsdbimport/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/genotypegvcfs/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/getpileupsummaries/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/haplotypecaller/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/learnreadorientationmodel/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/markduplicates/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/markduplicatesspark/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/mergevcfs/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/mutect2/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/splitintervals/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/variantfiltration/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/variantrecalibrator/conf.config"

// Manta
includeConfig "${projectDir}/configs/modules/nf-core/manta/manta/conf.config"

// MultiQC
includeConfig "${projectDir}/configs/modules/nf-core/multiqc/conf.config"

// Picard
includeConfig "${projectDir}/configs/modules/nf-core/picard/collecthsmetrics/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/picard/collectmultiplemetrics/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/picard/collectwgsmetrics/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/picard/crosscheckfingerprints/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/picard/markduplicates/conf.config"

// gatk
includeConfig "${projectDir}/configs/modules/nf-core/gatk/unifiedgenotyper/conf.config"

// Samtools
includeConfig "${projectDir}/configs/modules/nf-core/samtools/collate/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/convert/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/fixmate/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/flagstat/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/idxstats/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/index/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/markdup/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/merge/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/sort/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/stats/conf.config"

// snpEff
includeConfig "${projectDir}/configs/modules/nf-core/snpeff/snpeff/conf.config"

// Vep
includeConfig "${projectDir}/configs/modules/nf-core/ensemblvep/ensemblvep/conf.config"

// SNPSIFT
includeConfig "${projectDir}/configs/modules/nf-core/snpsift/split/conf.config"

