// Subworkflow configs
includeConfig "${projectDir}/configs/subworkflows/local/fastq_qc_pre_mapping/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/fastq_align/conf.config"

// Modules configs
includeConfig "${projectDir}/configs/modules/nf-core/fastqc/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/bwa/mem/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/custom/dumpsoftwareversions/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/multiqc/conf.config"
