includeConfig "${projectDir}/configs/base.config"

// Subworkflow configs

// Local
// includeConfig "${projectDir}/configs/subworkflows/local/bam_base_recalibration_gatk4/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/bam_fingerprint/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/bam_fingerprint_picard/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/bam_germline_short_variant_discovery/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/bam_germline_short_variant_discovery_haplotypecaller/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/bam_markduplicates/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/bam_markduplicates_gatk4/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/bam_markduplicates_gatk4spark/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/bam_markduplicates_samtools/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/bam_merge/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/fastq_align/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/fastq_align_bwamem2/conf.config"
includeConfig "${projectDir}/configs/subworkflows/local/fastq_qc_pre_mapping/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/local/prepare_genome/conf.config"

// NF-CORE
// includeConfig "${projectDir}/configs/subworkflows/nf-core/bam_markduplicates_picard/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/nf-core/bam_markduplicates_samtools/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/nf-core/bam_sort_stats_samtools/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/nf-core/bam_stats_samtools/conf.config"
// includeConfig "${projectDir}/configs/subworkflows/nf-core/fastq_align_bwa/conf.config"


// Modules configs

// Local


// NF-CORE

// BWA
includeConfig "${projectDir}/configs/modules/nf-core/bwa/index/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/bwa/mem/conf.config"

// BWAMEM2
includeConfig "${projectDir}/configs/modules/nf-core/bwamem2/index/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/bwamem2/mem/conf.config"

// Custom
includeConfig "${projectDir}/configs/modules/nf-core/custom/dumpsoftwareversions/conf.config"

// FastQC
includeConfig "${projectDir}/configs/modules/nf-core/fastqc/conf.config"

// GATK 
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/applybqsr/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/baserecalibrator/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/combinegvcfs/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/genotypegvcfs/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/haplotypecaller/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/markduplicates/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/markduplicatesspark/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/mergevcfs/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/gatk4/splitintervals/conf.config"

// MultiQC
includeConfig "${projectDir}/configs/modules/nf-core/multiqc/conf.config"

// Picard
includeConfig "${projectDir}/configs/modules/nf-core/picard/crosscheckfingerprints/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/picard/markduplicates/conf.config"

// Samtools
includeConfig "${projectDir}/configs/modules/nf-core/samtools/collate/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/fixmate/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/flagstat/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/idxstats/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/index/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/markdup/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/merge/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/sort/conf.config"
includeConfig "${projectDir}/configs/modules/nf-core/samtools/stats/conf.config"



