params {
  //resource_dir = "/hpc/pmc_vanboxtel/resources/homo_sapiens.GRCh38.GATK.illumina"
  genomes {
    "GRCh38" {
        fasta = "${params.resource_dir}/Homo_sapiens_assembly38.fasta"
        fai = "${params.resource_dir}/Homo_sapiens_assembly38.fasta.fai"
        dict = "${params.resource_dir}/Homo_sapiens_assembly38.dict"
        fasta_dict = "${params.resource_dir}/Homo_sapiens_assembly38.fasta.dict"
        
        bwa = "${params.resource_dir}/bwa"
        bwamem2 = "${params.resource_dir}/bwamem2"
        haplotype = "${params.resource_dir}/haplotype/hg38_v0_Homo_sapiens_assembly38.haplotype_database.txt"
        interval_list = "${params.resource_dir}/genome.interval_list"
        known_sites = [
          "${params.resource_dir}/GATK_bundle_GRCh38/1000G_phase1.snps.high_confidence.hg38.vcf.gz",
          "${params.resource_dir}/GATK_bundle_GRCh38/dbsnp_146.hg38.vcf.gz",
          "${params.resource_dir}/GATK_bundle_GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz",
        ]
        dbsnp = [
          "${params.resource_dir}/GATK_bundle_GRCh38/dbsnp_146.hg38.vcf.gz"
        ]
        
        freec_chr_files = "${params.resource_dir}/chr_files"
        freec_mappability = "${params.resource_dir}/mappability_tracks/out100m2_hg38.gem"
        freec_len = "${params.resource_dir}/Homo_sapiens_assembly38.len"

        gridss_blacklist = "${params.resource_dir}/hmftools/sv/gridss_blacklist.38.bed.gz"
        gridss_properties = "${params.resource_dir}/hmftools/sv/gridss.properties"
        
        gridss_repeatmaskerbed = "${params.resource_dir}/gridss/dbs/repeatmasker/rm.fa.out.bed"
        gridss_viralreference = "${params.resource_dir}/gridss/refgenomes/human_virus/"
        
        gripss_known_hotspot_file = "${params.resource_dir}/hmftools/sv/known_fusions.38.bedpe"
        gripss_pon_sgl_file = "${params.resource_dir}/hmftools/sv/sgl_pon.38.bed.gz"
        gripss_pon_sv_file = "${params.resource_dir}/hmftools/sv/sv_pon.38.bedpe.gz"
        gripss_repeat_mask_file = "${params.resource_dir}/hmftools/sv/repeat_mask_data.38.fa.gz"

        amber_bafsnps = "${params.resource_dir}/hmftools/copy_number/GermlineHetPon.38.vcf.gz"
        
        cobalt_gc_profile = "${params.resource_dir}/hmftools/copy_number/GC_profile.1000bp.38.cnp"
        cobalt_tumoronly_diploid_bed = "${params.resource_dir}/hmftools/copy_number/DiploidRegions.38.bed.gz"

        purple_driver_gene_panel = "${params.resource_dir}/hmftools/common/DriverGenePanel.38.tsv"
        purple_ensembl_data_dir = "${params.resource_dir}/hmftools/ensembl_cache_dir"
        purple_somatic_hotspots = "${params.resource_dir}/hmftools/variants/KnownHotspots.somatic.38.vcf.gz"
        purple_germline_hotspots = "${params.resource_dir}/hmftools/variants/KnownHotspots.germline.38.vcf.gz"
        purple_del_freq_file = "${params.resource_dir}/hmftools/copy_number/cohort_germline_del_freq.38.csv"

        linx_known_fusion_file = "${params.resource_dir}/hmftools/sv/known_fusion_data.38.csv"

        snpeff_db = "GRCh38.99"
        snpeff_config = "${params.resource_dir}/snpEff/snpEff.config"
        snpeff_cache = "${params.resource_dir}/snpEff/cache_dir"

        vep_species = "homo_sapiens"
        vep_cache_version = 112
        vep_cache_dir = "${params.resource_dir}/ensemble_vep_cache/"
        vep_AlphaMissense = "${params.resource_dir}/ensemble_vep_cache/AlphaMissense_hg38.tsv.gz"
        vep_dbNSFP = "${params.resource_dir}/dbNSFP4.7a/dbNSFP4.7a_grch38.gz"

        somatic_germline_resource = "${params.resource_dir}/somatic/af-only-gnomad.hg38.vcf.gz"
        somatic_germline_resource_tbi = "${params.resource_dir}/somatic/af-only-gnomad.hg38.vcf.gz.tbi"
        somatic_pon = "${params.resource_dir}/somatic/1000g_pon.hg38.vcf.gz"
      	somatic_pon_tbi = "${params.resource_dir}/somatic/1000g_pon.hg38.vcf.gz.tbi"

        gatk_fingerprint_vcf = "${params.resource_dir}/81_snps_mip_design_nijmegen_sort_hg38_liftover.vcf"

        smurf_config = "${params.resource_dir}/smurf/config_15cov.ini"
    }
  }
}