params {
  resource_dir = "/hpc/pmc_vanboxtel/resources/homo_sapiens.GRCh38.GATK.illumina"
  genomes {
    "GRCh38" {
        fasta = "${params.resource_dir}/Homo_sapiens_assembly38.fasta"
        bwa = "${params.resource_dir}/bwa"
        bwamem2 = "${params.resource_dir}/bwamem2"
        haplotype = "${params.resource_dir}/haplotype/hg38_v0_Homo_sapiens_assembly38.haplotype_database.txt"
        interval_list = "${params.resource_dir}/genome.interval_list"
        known_sites = [
          "${params.resource_dir}/GATK_bundle_GRCh38/1000G_phase1.snps.high_confidence.hg38.vcf.gz",
          "${params.resource_dir}/GATK_bundle_GRCh38/dbsnp_146.hg38.vcf.gz",
          "${params.resource_dir}/GATK_bundle_GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz",
          "blaat.vcf"

        ]
    }
  }
}