includeConfig "${projectDir}/configs/nextflow.config"
includeConfig "${projectDir}/configs/process.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/tools.config"
includeConfig "${projectDir}/configs/settings.config"


params {
    config_profile_name        = 'PROFILE_NAME' // PROJECT ID
    run_id = "RUN_ID" // SAMPLE ID
    input = "/path/to/samplesheet.csv"
    out_dir = "/path/to/output/"
    genome = 'GRCh38'

    run {
        // QC
        fastq_qc_pre_mapping = true
        bam_qc_post_mapping = true
        bam_fingerprint = true

        // Mapping
        fastq_align = true
        bam_markduplicates = true

        // Telomeres
        bam_telomeres = true

        // Germline short variant discovery
        bam_germline_short_variant_discovery = true
        vcf_germline_short_variant_filtration = true
        vcf_germline_short_variant_somatic_filtration = true

        // Somatic short variant discovery
        bam_somatic_short_variant_discovery = false // FALSE
        vcf_somatic_short_variant_filtration = false // FALSE

	// Short variant annotation
        vcf_short_variant_annotation = true

        // Copy number discovery
        bam_germline_copy_number_discovery = false // TRUE
        bam_somatic_copy_number_discovery = false // FALSE
        bam_tumoronly_copy_number_discovery = false // FALSE
        
        // Structural variant discovery
        bam_germline_structural_variant_discovery = false // TRUE
        bam_somatic_structural_variant_discovery = false // FALSE
        bam_tumoronly_structural_variant_discovery = false //FALSE

        vcf_somatic_structural_variant_filtration = true // TRUE

	// HLA typing
	bam_hla_type_calling = false
    }
}

process {
    resourceLabels = [
        'project': "${params.config_profile_name}",
        'pipeline': 'asap',
        'user': System.getProperty("user.name"),
        'sample': "${params.run_id}"
    ]
}

workDir = "${params.out_dir}/work"
