process {
    withName: 'CONTROLFREEC_MAKEBAFPLOT' {
        ext.args = ""
        ext.binsize = 1000
    }
    withName: 'CONTROLFREEC_MAKEKARYOTYPE' {
        ext.args = ""
        ext.ploidy = "${params.bam_germline_copy_number_discovery_controlfreec.ploidy}"
        ext.maxleveltoplot = 4
        ext.binsize = 50000
    }

    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_SOMATIC' {
        ext.args = 'ALIGNMENT=APPEND'
    }
    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_TUMORONLY' {
        ext.args = 'ALIGNMENT=APPEND'
    }
    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_GERMLINE' {
        ext.args = 'ALIGNMENT=APPEND'
    }

    withName: 'GRIDSS_SOMATIC' {
        ext.args = '--maxcoverage 200'
    }
    withName: 'GRIDSS_TUMORONLY' {
        ext.args = '--maxcoverage 200'
    }
    withName: 'GRIDSS_GERMLINE' {
        ext.args = '--maxcoverage 200'
    }

    withName: 'HMFTOOLS_AMBER_SOMATIC' {
        ext.args = '-ref_genome_version 38'
    }
    withName: 'HMFTOOLS_AMBER_TUMORONLY' {
        ext.args = '-ref_genome_version 38'
    }
    withName: 'HMFTOOLS_AMBER_GERMLINE' {
        ext.args = '-ref_genome_version 38'
    }

    withName: 'HMFTOOLS_COBALT_SOMATIC' {
        ext.args = ''
    }
    withName: 'HMFTOOLS_COBALT_TUMORONLY' {
        ext.args = ''
    }
    withName: 'HMFTOOLS_COBALT_GERMLINE' {
        ext.args = ''
    }

    withName: 'HMFTOOLS_GRIPSS_SOMATIC' {
        ext.args = '-ref_genome_version 38'
    }
    withName: 'HMFTOOLS_GRIPSS_TUMORONLY' {
        ext.args = '-ref_genome_version 38'
    }
    withName: 'HMFTOOLS_GRIPSS_GERMLINE' {
        ext.args = '-ref_genome_version 38'
    }

    withName: 'HMFTOOLS_LINX_SOMATIC' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
    }
    withName: 'HMFTOOLS_LINX_TUMORONLY' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
    }
    withName: 'HMFTOOLS_LINX_GERMLINE' {
        ext.args = '-ref_genome_version 38 -check_fusions -check_drivers -write_vis_data'
    }
}