
includeConfig "${projectDir}/configs/nextflow.config"
includeConfig "${projectDir}/configs/process.config"
includeConfig "${projectDir}/configs/resources.config"

params {
    config_profile_name        = 'Test profile'
    run_id = "demo_full"
    input = "/hpc/pmc_vanboxtel/tools/ToolsVanBox_DEV/ASAP/demo/samplesheet_full.csv"
    out_dir = "./"
    genome = 'GRCh38'

    run {
        fastq_qc_pre_mapping = false
        fastq_align = false
        bam_markduplicates = false
        bam_qc_post_mapping = false
        bam_fingerprint = true
        germline_short_variant_discovery = false
        germline_copy_number_discovery = false
        germline_structural_variant_discovery = true
    }
}