includeConfig "${projectDir}/configs/nextflow.config"
includeConfig "${projectDir}/configs/process.config"
includeConfig "${projectDir}/configs/resources.config"

params {
    config_profile_name        = 'Test profile'
    run_id = "demo"
    input = "/hpc/pmc_vanboxtel/tools/ToolsVanBox_DEV/WAP/demo/samplesheet.csv"
    out_dir = "./"
    genome = 'GRCh38'

    run {
        germline_short_variant_discovery = true
    }
}