params {

    // FASTQ 
    fastq_align {
        tool = [
            //"BWAMEM1",
            "BWAMEM2"
        ]
    }
    fastq_qc_pre_mapping {
        // List of one or multiple tool names
        tool = [
            "FastQC",
            "MultiQC"
        ]
    }

    // BAM
    bam_convert_to_cram {
        tool = [
            "Samtools",
        ]
    }
    bam_fingerprint {
        tool = [
            "Picard",
            //"GATKunifiedgenotyper",
        ]
    }
    bam_germline_copy_number_discovery {
        tool = [
            "ControlFREEC",
        ]
    }
    bam_germline_short_variant_discovery {
        tool = [
            "GATK4HaplotypeCaller",
        ]
    }
    bam_germline_structural_variant_discovery {
        tool = [
            "GRIDSS",
            //"MANTA"
        ]
    }
    bam_markduplicates {
        tool = [
            //"Picard",
            //"Samtools",
            "GATK4spark",
            //"GATK4"
        ]
    }    
    bam_merge {
        tool = [
            "samtools"
        ]
    }
    bam_qc_post_mapping {
        // List of one or multiple tool names
        tool = [
            "Picard",
        ]
    }
    bam_somatic_copy_number_discovery {
        tool = [
            "ControlFREEC",
        ]
    }
    bam_somatic_short_variant_discovery {
        tool = [
            "Mutect2",
        ]
    }
    bam_somatic_structural_variant_discovery {
        tool = [
            "MANTA"
        ]
    }
    bam_telomeres {
        tool = [
            //"Telomerecat",
            "Telseq"
        ]
    }
    bam_tumoronly_copy_number_discovery {
        tool = [
            "ControlFREEC",
        ]
    }
    bam_tumoronly_structural_variant_discovery {
        tool = [
            "MANTA"
        ]
    }

    // VCF    
    vcf_variant_filtration {
        tool = [
            "GATK4",            
        ]
    }
    vcf_variant_annotation {
        tool = [
            "SNPeff",
        ]
    }
    vcf_structural_variant_filtration {
        tool = [
            "gridss_purple_linx",
        ]
    }

    vcf_somatic_filtration {
        tool = [
            "SMuRF",
        ]
    }
}