process {
    withName: 'SAMTOOLS_CONVERT_BAM' {
        ext.args = { "" }
        publishDir       = [
            [
                path: { "${params.out_dir}/crams" },
                mode: "copy",
                pattern: "*.cra*"
            ]         
        ]
    }
    withName: 'SAMTOOLS_CONVERT_CRAM' {
        ext.args = { "" }
        publishDir       = [
            [
                path: { "${params.out_dir}/bams" },
                mode: "copy",
                pattern: "*.ba*"
            ]         
        ]
    }
}