process {
    withName: 'MANTA_SOMATIC' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/somatic/manta" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'MANTA_TUMORONLY' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/tumoronly/manta" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }

    withName: 'MANTA_GERMLINE' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/manta" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        