process {
    withName: 'GATK_UNIFIEDGENOTYPER' {
        ext.prefix = { "${meta.id}.gatk_unifiedgenotyper" }
        ext.args         = {  }
        publishDir       = [
            [
                path: { "${params.out_dir}/fingerprint" },
                mode: "copy",
                pattern: "*gatk_unifiedgenotyper.vcf.gz"
            ]
        ]                     
    }
}