process {
    withName: 'CONTROLFREEC_MAKEKARYOTYPE' {
        ext.args = ""
        ext.ploidy = "${params.bam_germline_copy_number_discovery_controlfreec.ploidy}"
        ext.maxleveltoplot = 4
        ext.binsize = 50000
        publishDir       = [
            [
                path: { "${params.out_dir}/cnv/controlfreec/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        