process {
    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_SOMATIC' {
        ext.args = 'ALIGNMENT=APPEND'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/somatic/gridss/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_TUMORONLY' {
        ext.args = 'ALIGNMENT=APPEND'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/tumor_only/gridss/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_GERMLINE' {
        ext.args = 'ALIGNMENT=APPEND'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        