process {
//    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_SOMATIC' {
//        publishDir       = [
//            [
//                path: { "${params.out_dir}/sv/somatic/gridss/" },
//                mode: "copy",
//                pattern: "*"
//            ]
//        ]
//    }
//   withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_TUMORONLY' {
//        publishDir       = [
//           [
//                path: { "${params.out_dir}/sv/tumor_only/gridss/" },
//                mode: "copy",
//                pattern: "*"
//            ]
//        ]
//    }
    withName: 'GRIDSS_ANNOTATEINSERTEDSEQUENCE_GERMLINE' {
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        