process {
    withName: 'HMFTOOLS_COBALT_SOMATIC' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/somatic/gridss/${meta.id}/cobalt" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'HMFTOOLS_COBALT_TUMORONLY' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/tumoronly/gridss/${meta.id}/cobalt" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'HMFTOOLS_COBALT_GERMLINE' {
        ext.args = ''
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss/${meta.id}/cobalt" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        