process {
    withName: 'CONTROLFREEC_MAKEBAFPLOT' {
        ext.args = ""
        ext.binsize = 1000
        publishDir       = [
            [
                path: { "${params.out_dir}/cnv/controlfreec/" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        