process {
    withName: 'HMFTOOLS_PURPLE_SOMATIC' {
        ext.args = '-ref_genome_version 38'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/somatic/gridss/${meta.id}/purple" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'HMFTOOLS_PURPLE_TUMORONLY' {
        ext.args = '-ref_genome_version 38'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/tumoronly/gridss/${meta.id}/purple" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
    withName: 'HMFTOOLS_PURPLE_GERMLINE' {
        ext.args = '-ref_genome_version 38'
        publishDir       = [
            [
                path: { "${params.out_dir}/sv/germline/gridss/${meta.id}/purple" },
                mode: "copy",
                pattern: "*"
            ]
        ]
    }
}
        